alias start="docker-compose up -d"
alias stop="docker-compose kill"
alias composer="docker-compose exec drupal composer"
alias coding-standards="make coding-standards"
alias behat="make behat"
alias cli="docker-compose exec drupal sh"
alias drush="docker-compose exec drupal ./vendor/bin/drush"
alias compile-theme-default="make compile-theme-default"
alias build="make build"
